/* Patient Queries */

/* main{
    position: relative;
    min-height: 100vh;
} */

/* .content-wrap{
    padding-bottom: 3rem; 
}

.simple-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem
} */

.simple-footer div{
    background-color: #f0f2f4;
}

.contianer-filter-queries{
    display: flex;
}


.container-queries{
    background-color: #7c87ea;
    color: white;
    padding: 0rem 1rem 0rem 1rem;
    max-height: 2rem;
    text-align: center;
    margin-top: 4px;
    border-radius: 2px;
    
}


.container{
    background-color:rgb(245, 242, 242);
    
}



/* .last-patients-added{
    align-items: center;
    text-align: center;
    background-color: #6792ca;
    padding: 10px;
    max-width: 30rem;
    border-radius: 1rem;
} */

.last-patients-added ul {
    list-style-type: none;
    font-size: 10px;
    line-height: 5px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.last-patients-added ul li{
   display: inline-block;
   color: #dadada;
   margin-right: 10px;
   
}


/* Icons Styles */

.bi-pencil-square{
    color: #5965cd;
    
}
.bi-pencil-square:hover{
    color: #9ca1ca;
}

.bi-trash{
    color: red;
}

.bi-trash:hover{
    color: #f08585;
}

/* Table Styles */
.container{
    position: relative;
    margin:10px auto;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    
}


.table thead tr {
    background-color: #5965cd;
    color: #ffffff;
    
}

.table th,
.table td {
    padding: 7px 7px;
    
}

.table th{
    font-size: 15px;
}

.table td{
    
    font-size: 12px;
}

.table tbody tr {
    border-bottom: 1px solid #b9bde0;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #5965cd;
}

.table tbody tr.active-row {
    color: rgb(51, 47, 47);
}

/* Add Icon Styles */
.btn-add {
    color: white;
}


.btn-add{
    padding: 10px;
    border-radius: 10px;
    background-color: #1f30cb;
    text-decoration: none;
}

.btn-add:hover{
    background-color: #9da6eb;
}

.bi-person-add{
    font-size: 1.5rem;
    margin-right: 1rem;
}

/* Search Styles */

.container-form input{
    border: solid 1.5px #D3D3D3
}

.container-form input:hover{
    box-shadow: 0 0 5pt 0.5pt #828fee;
}

.container-form input:focus{
    box-shadow: 0 0 5pt 2pt #828fee;
    outline-width: 0px;
}


.container-form  button{
    background-color: #5965cd;
    padding: 0rem 1rem 0rem 1rem;
    margin-bottom: 1rem;
    border: none;
    color: white;
    /* width: 10rem; */
}

.container-form  button:hover{
    background-color: #828fee;
}
