{% comment %} {% extends "base.html" %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static "lab_app/file_view.css" %}">
{% endblock  %}

{% block content %}
    <main class="container-fluid">
        <iframe src="{{file.user_file.url}}" allowfullscreen></iframe>
    </main>
{% endblock %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "lab_app/file_view.css" %}">
    <title>Archivo de Paciente</title>
</head>
<body>
    <main class="container-fluid">
        <iframe src="{{file.user_file.url}}" allowfullscreen></iframe>
    </main>
</body>
</html>